{% extends 'base.html' %}
{% block content %}

<div class="text-center my-5 fw-normal fs-1">
  <p><span class="fw-bold" style="color: #cc00cc;">리뷰 작성</span></p>
</div>

<form action="{% url 're_pair:create' %}">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <select class="form-select" name="title" aria-label="Default select example">
        <option selected>드라마, 영화를 선택하세요.</option>
        <option value="수리남">수리남</option>
        <option value="스파이패밀리">스파이패밀리</option>
        <option value="오징어게임">오징어게임</option>
        <option value="이상한변호사:우영우">이상한변호사:우영우</option>
        <option value="종이의 집">종이의 집</option>
        <option value="지옥">지옥</option>
      </select>
     </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6">
      <select class="form-select" name="star" id="inputGroupSelect01">
        <option selected>평점을 선택하세요.</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
      </select>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6">
      <label for="exampleFormControlTextarea1" class="form-label">내용</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6 d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-primary">등록</button>
    </div>
  </div>

</form>



{% endblock %}