{% extends 'base.html' %}
{% block content %}

<h1>새로만들기</h1>

<form action="{% url 're_pair:create' %}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">제목</label>
    <input type="text" class="form-control" id="exampleInputtext" aria-describedby="" name="title">
    <div id="emailHelp" class="form-text">제목을 입력하세요</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">내용</label>
    <input type="text" class="form-control" id="exampleInputtext" aria-describedby="" name="content">
    <div id="emailHelp" class="form-text">내용을 입력하세요</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}